body {
  padding-left: 300px;
  background-color:#eee;
  height: 100%;
  width: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
}

.panel {
  padding: 5px;
  margin: 10px;
}

.panel-body {
  padding: 0;
  margin: 0;
}

.label {
  float: right;
}

.card {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 6px 10px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 6px 10px 0px rgba(50, 50, 50, 0.2);
}

.well {
  padding: 9px;
}

.payment-style {
  border-color: #ffe14c;
  background-color: #fffb9a;
}

.invoice-style {
  border-color: #4da4ff;
  background-color: #9ac9ff;
}

.supplier-style {
  border-color: #49db42;
  background-color: #9affa4;
}

.card-payment {
  min-height: 265px;
  border-color: #ffe14c;
}

.card-invoice {
  border-color: #4da4ff;
}

.card-supplier {
  border-color: #49db42;
}

.card-payment > hr {
  border-color: #ffe14c;
}

.card-invoice > hr {
  border-color: #4da4ff;
}

.card-supplier > hr {
  border-color: #49db42;
}

.btn-plus {
  background-color: #bfffbe;
  border-color: #77e275;
  margin-right: 0px;
  min-width: 34px;
  text-align: center;
}

.btn-minus {
  background-color: #ffbebe;
  border-color: #e27575;
  margin-right: 0px;
  min-width: 34px;
  text-align: center;
}

.navbar {
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
  height: 100%;
}

.navbar-btn{
  width: 100%;
}

.modal-header {
  background-color: #eee;
}

.modal-footer {
  background-color: #eee;
}

.navbar {
  background-color: #d7d7d7;
}

body, body.modal {
  margin-right: 0 !important;
}
